* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  font-family: 'Palatino', serif;
  font-weight: 300;
}

.container {
  text-align: center;
}

.gameForm {
width: 100vw;
height: 100vh;
background-image: url("./images/bg-tan2.jpg");
}
.games {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameHeader {
  margin-top: 20px;
  font-size: 2rem;
  font-weight: 600;
}

.game {
  width: 30%;
  padding: 5px;
}

.gamesBoxes {
  max-width: 800px;
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.btnGame {
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  appearance: none;
  transition: opacity .2s ease-in-out;
  background-color: inherit;
}
.btnGame:hover {
  opacity: 0.8;
}

.coverImage {
  width: 100%;
  border-radius: 4px;
}
.selected {
  background: rgb(159, 123, 93);
}

.coverImageDisabled {
  width: 100%;
  border-radius: 4px;
  cursor: not-allowed;
}

.gameName {
  margin: 10px;
  font-size: 1.4rem;
}

.names {
  display: flex;
  flex-direction: column;
}
.namesHeader {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.inputs {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}
.nameInput {
  width: 300px;
  margin: 5px auto;
  font-size: 1.2rem;
}
.randomizeCheck {
  margin-top: 20px;
  width: 20px;
  height: 20px;
  accent-color: rgb(99, 41, 0);
}
.randomizeLabel {
  font-size: 1.5em;
  margin-left: 10px;
}
.btnPlay {
  font-family: 'Palatino', serif;
  margin-top: 15px;
  background-color: rgb(99, 41, 0);
  color: white;
  border: none;
  font-size: 2em;
  padding: 10px 20px; 
}

/* ----- Randomizer styles ----- */

.randomizerPage {
  width: 100vw;
  height: 100vh;
  background-image: url("./images/bg-tan2.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;

  }

.neutralDetail{
  margin: 7px;
}

.spaceForNeutral {
  border: 2px solid rgb(121, 121, 121);
  height: 166px;
  width: 134px;
  background-color: #c6c6c6;
  margin-bottom: px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.spaceLetter {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
}

.displayed {
  font-size: 35px;
  color: white;
  text-shadow: 0px 0px 4px #000000;
}

.grayBackground {
  width: 116px;
  height: 116px;
  display: flex;
  background-color: #b4b1a3;
  border: 2px solid #a7a292;
  border-radius: 5px;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  align-items: center;
  border: 2px solid #a7a292;
  box-shadow: 2px 2px 3px #414140;
  margin: 3px;
}
.wrapper {
  overflow:hidden;
  width:100px;
  height:100px;
  background-image: url("./images/bg-tan2.jpg");
}
div.inverted-corner {
  box-sizing:border-box;
  position: relative;
  background: linear-gradient(#8db963 0%, #8db963 30%, #efe9b4 70%, #efe9b4 1000% );
  height: 100px;
  width: 100px;
  border: 5px solid #7f754a;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 7px;
}
.top, .bottom {
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
}
.top:before, .top:after, .bottom:before, .bottom:after{
  content:" ";
  position:absolute;
  width: 20px;
  height: 20px;
  background-color: #b4b1a3;
  border: 4px solid #7f754a;
  border-radius: 20px; 
}
.top:before {
  top:-17px;
  left:-17px;
}
.top:after {
 top: -17px;
 right: -17px;
  box-shadow: inset 1px 1px 1px grey;
}
.bottom:before {
  bottom:-17px;
  left:-17px;
}
.bottom:after {
 bottom: -17px;
 right: -17px; 
 box-shadow: inset 1px 1px 1px grey;
}

.neutralOrder {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.playerBuildingsWrapper {
  width: 95%;
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.singlePlayerBuilding {
  aspect-ratio: 1 / 1;
  margin: 10px 5px;
  width: 15%;
  border: 2px solid rgb(210, 195, 176);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 5px;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(yellow, red, blue, white);
  color: white;
  font-size: 1.4rem;
  text-shadow: 1px 1px 2px #7c7c7c;
  box-shadow: 2px 2px 4px #414140;
}

.singePlayerBuildingArgentina {
  aspect-ratio: 1 / 1;
  margin: 10px 5px;
  width: 17%;
  border: 2px solid rgb(210, 195, 176);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 5px;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(yellow, red, blue, white);
  color: white;
  font-size: 1.4rem;
  text-shadow: 1px 1px 2px #7c7c7c;
  box-shadow: 2px 2px 4px #414140;
}

.buttons {
  font-family: 'Palatino', serif;
  margin-top: 20px;
  max-width: 400px;
  display: grid;
  grid-row-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px 1fr;
}

.reroll {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}
.divButtonReroll {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  justify-self: center;
  width: 80%;
}
.divButtonProceed {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-self: center;
  width: 80%;

}

.btnReroll, .btnProceed {
  font-family: 'Palatino', serif;
  background-color: rgb(99, 41, 0);
  color: white;
  border: none;
  font-size: 1.5em;
  padding: 10px 20px; 
  width: 100%;
}




/* -------------- Screen sizings --------------- */
@media only screen and (max-width: 640px) {
  .gameName {
    font-size: 1.05rem; 
  }
  .singlePlayerBuilding {
    width: 13%;
  }
}

@media only screen and (max-width: 1050px) {
  .neutralDetail{
    margin: 3px;
  }
  
  .spaceForNeutral {
    border: 2px solid rgb(121, 121, 121);
    height: 150px;
    width: 110px;
    background-color: #c6c6c6;
    margin-bottom: px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .spaceLetter {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
  }
  
  .displayed {
    font-size: 35px;
    color: white;
    text-shadow: 0px 0px 4px #000000;
  }
  
  .grayBackground {
    width: 90px;
    height: 90px;
    display: flex;
    background-color: #b4b1a3;
    border: 2px solid #a7a292;
    border-radius: 5px;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    border: 2px solid #a7a292;
    box-shadow: 2px 2px 3px #414140;
    margin: 3px;
  }
  .wrapper {
    overflow:hidden;
    width:80px;
    height:80px;
    background-image: url("./images/bg-tan2.jpg");
  }
  div.inverted-corner {
    box-sizing:border-box;
    position: relative;
    background: linear-gradient(#8db963 0%, #8db963 30%, #efe9b4 70%, #efe9b4 1000% );
    height: 80px;
    width: 80px;
    border: 5px solid #7f754a;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 7px;
  }
  .top, .bottom {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
  }
  .top:before, .top:after, .bottom:before, .bottom:after{
    content:" ";
    position:absolute;
    width: 20px;
    height: 20px;
    background-color: #b4b1a3;
    border: 4px solid #7f754a;
    border-radius: 20px; 
  }
  .top:before {
    top:-17px;
    left:-17px;
  }
  .top:after {
   top: -17px;
   right: -17px;
    box-shadow: inset 1px 1px 1px grey;
  }
  .bottom:before {
    bottom:-17px;
    left:-17px;
  }
  .bottom:after {
   bottom: -17px;
   right: -17px; 
   box-shadow: inset 1px 1px 1px grey;
  }


  .btnProceed, .btnReroll {
    font-size: 1.1em;
  }
}